ott.leaflet.*
ott.openlayers.*
otp_report.html
build-config.json
router-config.json
lucene
*.old
*-old
*.urls
*.v
*.log
*.iml
*.tmp
*.obj
*.out
*.osm
*.pid
call/
prod/
test/
ned/
tmp/
cache/
osmosis/
.git/
tests/
*~
[a-z].py
*.py[cod]
.settings
COMMIT_EDITMSG
*.zip
*.old
*.jar
.*#
.#*
*#
#*
.idea
.idea/*
*.iml
.DS_Store
c:/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.*~
*.bak
*.db
*.sqlite
*.db-journal
nohup.out
[a-z].json
*.all.js
*.all.css
*.min.js
*.min.css
.git
.git/FETCH_HEAD
gtfsdb.db.bkup
x
.pydevproject
