[buildout]
extends = versions.cfg
update-versions-file = versions.cfg
parts = dev prod testrunner pydev
develop = . ../utils/ ../gbfsdb/ ../gtfsdb/ ../gtfsdb_realtime/ ../osm/
app-egg-name = ott.loader
newest = false
versions = versions
include-site-packages = true
allowed-eggs-from-site-packages = psycopg2 PyCrypto cryptography distribute Setuptools zc.buildout
prefer-final = true

[dev]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs = ott.loader[dev]

[prod]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs = ott.loader

[testrunner]
recipe = zc.recipe.testrunner
eggs = ${dev:eggs}
script = test

[pydev]
recipe = pb.recipes.pydev
eggs = ${dev:eggs}
